@font-face {
  font-family: Orange-Kid;
  src: url(fonts/orange-kid.ttf);
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}

#highscore {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #FEF2BF;
}

#score {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #FEF2BF;
}
.container {
  display: block;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 0px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 0%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: darkblue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.website
{
  font-family: 'Orange-Kid', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: .25s;
}

.website :hover
{
  letter-spacing: .25rem;
  transition: .25s;
}


footer {
  margin: 1rem;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Orange-Kid', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.website {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: .25s;
}

footer .website:hover
{
  letter-spacing: .25rem;
  transition: .25s;
}